<div class="container">
  <div class="main-tab">
    <a class="logo" href="/">
      <img src="/public/img/logo_header.png">
    </a>
    <nav>
      <a href="/event">Evenements</a>
      <a href="/group">Groupe</a>
    </nav>
    <div class="show-option">
      <div class="search clickable-option">
        <i class="fas fa-search"></i>
      </div>
      <div class="user clickable-option">
        <i class="fas fa-user"></i>
      </div>
      <div class="log clickable-option">
        <i class="fas fa-sign-in-alt"></i>
        <i class="fas fa-sign-out-alt hidden"></i>
      </div>
      <div class="nav-btn clickable-option" (click)="SwitchOptions()" [class.selected-btn]="OptionsShowed === true">
        <i class="fas fa-bars"></i>
      </div>
    </div>
  </div>
  <div class="option">
    <form class="search" [class.hidden]="OptionsShowed === true">
      <input type="text" placeholder="Search.." name="search">
      <i class="fas fa-search"></i>
    </form>
    <nav [class.hidden]="OptionsShowed === true">
      <a href="/event">Evenements</a>
      <a href="/group">Groupe</a>
    </nav>
  </div>
</div>
