<div class="row">
  <h3>Contactez nous</h3>
  <ul class="contact">
    <li>
      <a href="mailto:mail@mail.com">
        <span>mail@mail.com</span>
      </a>
    </li>
    <li>
      <a href="tel:0634337544">
        <span>0634337544</span>
      </a>
    </li>
  </ul>
</div>
<div class="row">
  <h3>Suivez nous</h3>
  <ul class="social_network">
    <li>
      <a href="" title="Facebook" class="roundIcon blue">
        <i class="fab fa-facebook-f"></i>
      </a>
    </li>
    <li>
      <a href="" title="Twitter" class="roundIcon lightblue">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
    <li>
      <a href="" title="linkedIn" class="roundIcon blue">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </li>
  </ul>
</div>
